@font-face {  font-family: "Old Standard TT";  font-style: normal; font-weight:400 ; src: url('../fonts/old-standard-tt/OldStandardTT-Regular.ttf'); }
@font-face {  font-family: "Old Standard TT";  font-style: italic; font-weight:400 ; src: url('../fonts/old-standard-tt/OldStandardTT-Italic.ttf'); }
@font-face {  font-family: "Old Standard TT";  font-style: normal; font-weight:700 ; src: url('../fonts/old-standard-tt/OldStandardTT-Bold.ttf'); }

@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:300 ; src: url('../fonts/zilla-slab/ZillaSlab-Light.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:300 ; src: url('../fonts/zilla-slab/ZillaSlab-LightItalic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:400 ; src: url('../fonts/zilla-slab/ZillaSlab-Regular.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:400 ; src: url('../fonts/zilla-slab/ZillaSlab-Italic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:500 ; src: url('../fonts/zilla-slab/ZillaSlab-Medium.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:500 ; src: url('../fonts/zilla-slab/ZillaSlab-MediumItalic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:600 ; src: url('../fonts/zilla-slab/ZillaSlab-SemiBold.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:600 ; src: url('../fonts/zilla-slab/ZillaSlab-SemiBoldItalic.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: normal; font-weight:700 ; src: url('../fonts/zilla-slab/ZillaSlab-Bold.ttf'); }
@font-face {  font-family: "Zilla Slab";  font-style: italic; font-weight:700 ; src: url('../fonts/zilla-slab/ZillaSlab-BoldItalic.ttf'); }

@font-face {  font-family: "Teko";  font-style: normal; font-weight:300 ; src: url('../fonts/teko/Teko-Light.ttf'); }
@font-face {  font-family: "Teko";  font-style: normal; font-weight:400 ; src: url('../fonts/teko/Teko-Regular.ttf'); }
@font-face {  font-family: "Teko";  font-style: normal; font-weight:500 ; src: url('../fonts/teko/Teko-Medium.ttf'); }
@font-face {  font-family: "Teko";  font-style: normal; font-weight:600 ; src: url('../fonts/teko/Teko-SemiBold.ttf'); }
@font-face {  font-family: "Teko";  font-style: normal; font-weight:700 ; src: url('../fonts/teko/Teko-Bold.ttf'); }

@font-face {  font-family: "Arvo";  font-style: normal; font-weight:400 ; src: url('../fonts/arvo/Arvo-Regular.ttf'); }
@font-face {  font-family: "Arvo";  font-style: italic; font-weight:400 ; src: url('../fonts/arvo/Arvo-Italic.ttf'); }
@font-face {  font-family: "Arvo";  font-style: normal; font-weight:700 ; src: url('../fonts/arvo/Arvo-Bold.ttf'); }
@font-face {  font-family: "Arvo";  font-style: italic; font-weight:700 ; src: url('../fonts/arvo/Arvo-BoldItalic.ttf'); }

html {
	scroll-behavior: smooth;
}

.section {
	overflow-x: hidden !important;
}

html {
	font-size: 21px !important;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 19px !important;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 18px !important;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 17px !important;
	}
}

@media screen and (max-width: 320px) {
	html {
		font-size: 16px !important;
	}
}

body {
	font-family: "Zilla Slab", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 300 !important;
	-moz-osx-font-smoothing: grayscale !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;    
}

.dm-font-title {
	font-family: "Teko", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 700 !important;
}

.dm-font-subtitle {
	font-family: "Teko", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 500 !important;
	line-height: 50px !important;	
}

.dm-font-heading {
	font-family: "Zilla Slab", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 500 !important;
}

.dm-font-info {
	font-family: "Teko", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
	font-weight: 500 !important;
	line-height: 50px !important;
}

.dm-font-clickable {
	font-family: sans-serif !important;
	font-weight: 500 !important;
	font-size: 0.8em !important;
}

.dm-border-top-danger-dark { 
	border-top-color: #CC0F35 !important;
	border-top-width: 3px !important;
	border-top-style: solid !important;
	border-top: $width 3px solid !important;
}

.dm-border-bottom-danger-dark { 
	border-bottom-color: #CC0F35 !important;
	border-bottom-width: 3px !important;
	border-bottom-style: solid !important;
	border-bottom: $width 3px solid !important;
}


